<div class="container__menu">
  <!-- Botão hamburger (visível apenas no mobile) -->
  <button class="hamburger" (click)="toggleMenu()">☰</button>

  <nav class="menu">
    <ul>
      <li>
        <a [routerLink]="['/']"
           [routerLinkActive]="['activated']"
           [routerLinkActiveOptions]="{ exact: true }">
          🏠 Home
        </a>
      </li>
      <li>
        <a [routerLink]="['/cadastrar-proprietario']"
           [routerLinkActive]="['activated']"
           [routerLinkActiveOptions]="{ exact: true }">
          Cadastrar Proprietário
        </a>
      </li>
      <!-- <li>
        <a [routerLink]="['/cadastrar-corretor']"
           [routerLinkActive]="['activated']"
           [routerLinkActiveOptions]="{ exact: true }">
          Cadastrar Corretor
        </a>
      </li> -->
      <li>
        <a [routerLink]="['/cadastrar-imovel']"
           [routerLinkActive]="['activated']"
           [routerLinkActiveOptions]="{ exact: true }">
          Cadastrar Imóvel
        </a>
      </li>
      <li>
        <a [routerLink]="['/cadastrar-inquilino']"
           [routerLinkActive]="['activated']"
           [routerLinkActiveOptions]="{ exact: true }">
          Cadastrar Inquilino
        </a>
      </li>
      <li>
        <a [routerLink]="['/cadastrar-aluguel']"
           [routerLinkActive]="['activated']"
           [routerLinkActiveOptions]="{ exact: true }">
          Gerenciar Contratos
        </a>
      </li>
      <li>
        <a [routerLink]="['/consultas']"
           [routerLinkActive]="['activated']"
           [routerLinkActiveOptions]="{ exact: true }">
           Consultas
        </a>
      </li>
    </ul>
  </nav>
</div>
