.botoes-acoes {
    display: flex;
    gap: 10px;
    justify-content: center; /* Centraliza os botões */
    margin-top: 15px; /* Dá um espaço para o bloco de botões */
}

.btn-salvar, .btn-voltar {
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
}

.btn-salvar {
    background-color: #4285F4;
    color: white;
    border: none;
}

.btn-voltar {
    background-color: #a9a9a9;
    color: white;
    border: none;
}

