.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* .home-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} */

.home-img {
  width: 80%;
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
